/*
*   Primary :  #9c294f
*   Secondary : #c55c5f
*   Background : 
*
*/

* {
    margin: 0; padding: 0; border: 0;
}

html {
    background-image: url(../img/firat-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: left;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    display: table;
    overflow: scroll;
    
    --primary : #9c294f;
    --secondary: #c55c5f;
    --light : #ffffff; 
}

section {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

/************* Tablet *****************/
@media only screen and (min-width: 480px) and (max-width: 1024px) {
    h1 {
        font-family: 'Roboto', sans-serif;
        color: var(--light);
        text-align: center;
        font-size: 40px;
    }

    #logo {
        width: 150px;
        margin: 20px auto;
    }

    nav {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: var(--primary);
        margin: 20px auto;
        width: 95%;
    }

    nav ul li {
        background-color: #fff;
        list-style-type: none;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #bcbcbc;
        box-shadow: 0 0 2px #ccc;
        transition: all .3s;
    }

    nav ul li:hover {
        border-radius: 2px;
        box-shadow: 0 0 30px -5px #000;
    }

    nav ul li a {
        color: var(--primary);
        text-decoration: none;
    }

    nav ul li a:hover {
        color: var(--secondary);
    }

    .form {
        background-color: #fff;
        width: 90%;
        color: #757575;
        font-family: Roboto;
        border-radius: 20px;
        padding: 30px;
        margin: 20px auto;
    }

    #required {
        background-color: #e32c36;
        border-left: 7px solid #a41f27;
        border-radius: 5px;
        padding: 10px 20px;
        text-align: left;
        font-size: 15px;
        color: #fff;
        line-height: 25px;
        margin-bottom: 15px;
    }
    
    #required br {
        display: block;
    }
    
    #complete {
        background-color: #2ce359;
        border-left: 7px solid #25c14b;
        border-radius: 5px;
        padding: 10px 20px;
        text-align: left;
        font-size: 15px;
        color: #fff;
        line-height: 25px;
        width: 80%;
        margin: 0 auto;
        box-shadow: 0px 0px 20px -5px #fff;
        opacity: 0.9;
    }
    
    .form-input:hover, .form-select:hover, .form-file:hover {
        box-shadow: 0 0 5px #999;
    }
    

    
    .form-input {
        width: 45%;
        max-width: 45%; 
        float: left;
        color: #757575;
        padding: 10px;
        font-size: 15px;
        font-family: Roboto;
        margin: 20px 2.5px;
        box-shadow: 0 0 2px #ccc;
        transition: all .3s;
    }
    
    .form-text {
        width: 90%;
        max-width: 90%;
        min-height: 100px;
        padding: 10px;
        font-size: 15px;
        font-family: Roboto;
        margin: 20px 2.5px;
        box-shadow: 0 0 2px #ccc;
        transition: all .3s;
    }
    .form-select {
        width: 48%;
        max-width: 48%; 
        float: left;
        padding: 10px 20px;
        font-family: Roboto;
        color: #757575;
        padding: 10px;
        margin: 20px 2.5px;
        box-shadow: 0 0 2px #ccc;
        transition: all .3s;
    }
    
    br {
        display: none;
    }
    
    .form-file {
        width: 90%;
        color: #757575;
        padding: 10px 20px;
        font-size: 15px;
        font-family: Roboto;
        margin: 10px auto;
        box-shadow: 0 0 2px #ccc;
        transition: all .3s;
        text-align: left;
        clear: both;
    }
    
    .form-file input {
        width: 50%; 
        float: right;
    }
    
    label {
        width: 40%;
        font-family: Roboto;
        font-size: 15px;
    }
    
    .form-submit {
        font-size: 15px;
        padding: 10px;
        margin: 20px auto;
        background-color: var(--primary);
        color: var(--light);
        transition: all .2s;
        margin: 10px auto;
        width: 90%;
        border-radius: 10px
    }
    .form-submit:hover {
        background-color: var(--secondary);
        text-shadow: 0 2px 20px #000;
    }
    
}

/*************** Telefon **************************/
@media only screen and (max-width: 480px) {
    h1 {
        font-family: 'Roboto', sans-serif;
        color: var(--light);
        text-align: center;
        font-size: 30px;
    }

    #logo {
        width: 150px;
        margin: 10px auto;
    }

    nav {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: var(--primary);
        margin: 30px auto;
        width: 90%;
    }

    nav ul li {
        background-color: #fff;
        list-style-type: none;
        margin: 30px auto;
        padding: 30px;
        border: 1px solid #bcbcbc;
        box-shadow: 0 0 2px #ccc;
        transition: all .3s;
    }

    nav ul li:hover {
        border-radius: 2px;
        box-shadow: 0 0 30px -5px #000;
    }

    nav ul li a {
        color: var(--primary);
        text-decoration: none;
    }

    nav ul li a:hover {
        color: var(--secondary);
    }

    .form {
        background-color: #fff;
        max-width: 80%;
        width: 80%;
        color: #757575;
        font-size: 12px;
        border-radius: 20px;
        padding: 30px;
        margin: 20px auto;
    }

    #required {
        background-color: #e32c36;
        border-left: 7px solid #a41f27;
        border-radius: 5px;
        padding: 10px 20px;
        text-align: left;
        font-size: 15px;
        color: #fff;
        line-height: 25px;
        margin-bottom: 20px;
    }
    #complete {
        background-color: #2ce359;
        border-left: 7px solid #25c14b;
        border-radius: 5px;
        padding: 10px 20px;
        text-align: left;
        font-size: 15px;
        color: #fff;
        line-height: 25px;
        width: 80%;
        margin: 0 auto;
        box-shadow: 0px 0px 20px -5px #fff;
        opacity: 0.9;
    }
    .form-input:hover, .form-select:hover, .form-file:hover {
        box-shadow: 0 0 5px #999;
    }

    .form-input {
        width: 80%;
        color: #757575;
        padding: 10px 20px;
        margin: 10px auto;
        box-shadow: 0 0 2px #ccc;
        transition: all .3s;
    }
    .form-text {
        width: 80%;
        max-width: 80%;
        font-family: Roboto;
        padding: 10px 20px;
        margin: 10px auto;
        box-shadow: 0 0 2px #ccc;
        transition: all .3s;
    }
    .form-select {
        width: 90%;
        color: #757575;
        padding: 10px 20px;
        margin: 10px auto;
        box-shadow: 0 0 2px #ccc;
        transition: all .3s;
    }
    .form-file {
        width: 80%;
        color: #757575;
        padding: 10px 20px;
        margin: 10px auto;
        box-shadow: 0 0 2px #ccc;
        transition: all .3s;
        text-align: left;
    }
    .form-file input {
        width: 100%; 
        margin: 10px auto;
    }
    
    label {
        width: 100%;
        margin: 10px auto;
        font-family: Roboto;
    }
    
    .form-submit {
        padding: 15px 20px;
        background-color: var(--primary);
        color: var(--light);
        transition: all .1s;
        margin: 10px auto;
        width: 80%;
        border-radius: 10px
    }
    
    .form-submit:hover {
        background-color: var(--secondary);
        color: var(--light);
        text-shadow: 0 2px 10px #000;
        letter-spacing: 0.4px;
    }
}


/*************** PC **************************/
@media only screen and (min-width: 1024px) {
    h1 {
        font-family: 'Roboto', sans-serif;
        color: var(--light);
        text-align: center;
        font-size: 30px;
    }

    #logo {
        width: 150px;
        margin: 10px auto;
    }

    nav {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: var(--primary);
        margin: 30px auto;
        width: 400px;
    }

    nav ul li {
        background-color: #fff;
        list-style-type: none;
        margin: 30px auto;
        padding: 30px;
        border: 1px solid #bcbcbc;
        box-shadow: 0 0 2px #ccc;
        transition: all .3s;
    }

    nav ul li:hover {
        border-radius: 2px;
        box-shadow: 0 0 30px -5px #000;
    }

    nav ul li a {
        color: var(--primary);
        text-decoration: none;
    }

    nav ul li a:hover {
        color: var(--secondary);
    }

    .form {
        background-color: #fff;
        width: 400px;
        color: #757575;
        font-size: 12px;
        border-radius: 20px;
        padding: 30px;
        margin: 20px auto;
    }

    #required {
        background-color: #e32c36;
        border-left: 7px solid #a41f27;
        border-radius: 5px;
        padding: 10px 20px;;
        text-align: left;
        font-size: 15px;
        color: #fff;
        line-height: 25px;
        margin-bottom: 20px;
    }
    #complete {
        background-color: #2ce359;
        border-left: 7px solid #25c14b;
        border-radius: 5px;
        padding: 10px 20px;;
        text-align: left;
        font-size: 15px;
        color: #fff;
        line-height: 25px;
        margin: 0 auto;
        box-shadow: 0px 0px 20px -5px #fff;
        opacity: 0.9;
    }
    .form-input:hover, .form-select:hover, .form-file:hover {
        box-shadow: 0 0 5px #999;
    }

    .form-input {
        width: 80%;
        color: #757575;
        padding: 10px 20px;
        margin: 10px auto;
        box-shadow: 0 0 2px #ccc;
        transition: all .3s;
    }
    .form-text {
        width: 80%;
        max-width: 80%;
        font-family: Roboto;
        padding: 10px 20px;
        margin: 10px auto;
        box-shadow: 0 0 2px #ccc;
        transition: all .3s;
    }
    .form-select {
        width: 90%;
        color: #757575;
        padding: 10px 20px;
        margin: 10px auto;
        box-shadow: 0 0 2px #ccc;
        transition: all .3s;
    }
    .form-file {
        width: 80%;
        color: #757575;
        padding: 10px 20px;
        margin: 10px auto;
        box-shadow: 0 0 2px #ccc;
        transition: all .3s;
        text-align: left;
    }
    .form-file input {
        width: 60%; 
        float: right;
    }
    
    label {
        width: 40%;
        font-family: Roboto;
    }
    
    .form-submit {
        padding: 15px 20px;
        background-color: var(--primary);
        color: var(--light);
        transition: all .1s;
        margin: 10px auto;
        width: 80%;
        border-radius: 10px
    }
    
    .form-submit:hover {
        background-color: var(--secondary);
        color: var(--light);
        text-shadow: 0 2px 10px #000;
        letter-spacing: 0.4px;
    }
}