html,
body {
  height: 100%;
    max-width: 100%;
    
    /*******/
    background-image: url(img/firat-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: left;
}

body {
  display: -ms-flexbox;
  display:block;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 50px;
    
    /*****/
    
    --primary : #9c294f;
    --secondary: #c55c5f;
    --light : #ffffff; 
    
}

.form-signin {
  width: 100%;
  padding: 15px;
  margin: auto;
  border-radius: 35px;
    overflow: hidden;
    text-align: center;

}
.orta {
    text-align: center;
}

.btn .form-control {
    margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing:inherit;
  min-height: 50px;
  padding: 10px;
  font-size: 16px;
  border-color: #000;
    border-top: none;
    border-left: none;
    border-right: none;

    /***************/
    margin-bottom: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.form-control:hover {
  position: relative;
  box-sizing:inherit;
  padding: 10px;
  font-size: 16px;
  /*background-color: aqua;*/
    
  border-color: #777;
    /******/
    box-shadow: 0 0 10px -2px #444;
}



.form-signin .form-control:focus {
  z-index: 11;
  border-color: #000;
    border-top: none;
    border-left: none;
    border-right: none;

}
.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h3{
  font-weight: 100;
  padding-left: 1px;
  padding-right: 1px;
    
    /******/
    color: var(--light);
}
h4{
  font-weight: 100;
  font-size: 15px;
}
h5{
  text-align: left;
  padding-left: 15px;
  font-weight: 300;
    color: #000;
}
h6{
  font-size: 0;
}
.btn{
    clear: both;
    text-align: center;
}

.submit {
    border: 0;
  width:250px;
    height: 50px;
    margin: 0 auto;
}

#button-blue{
    float: left;
	width: 250px;
    height: 50px;
	cursor:pointer;
	background-color: #9c294f;
	color:white;
    border: 0;
	font-size:18px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.6s;
  font-weight:500;
}

#button-blue:hover{
	background-color: rgba(52,152,219,0);
	color: #9c294f;
}
	
.submit:hover {
	color: #9c294f;
}
	
.ease {
	width: 0px;
	height: 50px;
	background-color: #fbfbfb;
	-webkit-transition: .6s ease;
	-moz-transition: .6s ease;
	-o-transition: .6s ease;
	-ms-transition: .6s ease;
	transition: .6s ease;
}

.submit:hover .ease{
  width:250px;
    height: 50px;
  background-color:white;
}



    .form {
        background-color: rgba(255, 255, 255, 0.4);
        color: #757575;
        padding: 30px;
    }

    #required {
        background-color: #e32c36;
        border-left: 7px solid #a41f27;
        border-radius: 5px;
        padding: 10px 20px;
        text-align: left;
        font-size: 12px;
        color: #fff;
        line-height: 35px;
        margin: 15px auto;
    }

    #complete {
        background-color: #2ce359;
        border-left: 7px solid #25c14b;
        border-radius: 5px;
        padding: 10px 20px;;
        text-align: left;
        font-size: 18px;
        color: #fff;
        line-height: 25px;
        margin: 0 auto;
    }
@media only screen and (min-width:1024px) {
    
.left {
    width: 48%;
    float: left;
}

.right {
    width: 48%;
    float: right;
}
}

    nav {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: var(--primary);
        margin: 30px auto;
        width: 90%;
    }

    nav ul li {
        background-color: #fff;
        list-style-type: none;
        margin: 30px auto;
        padding: 30px;
        border: 1px solid #bcbcbc;
        box-shadow: 0 0 2px #ccc;
        transition: all .3s;
    }

    nav ul li:hover {
        border-radius: 2px;
        box-shadow: 0 0 30px -5px #000;
    }

    nav ul li a {
        color: var(--primary);
        text-decoration: none;
    }

    nav ul li a:hover {
        color: var(--secondary);
    }

::selection {
    background: var(--secondary);
}